/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

/*
    primary color - blue : #8eb4e5
    additional colors - yellow: #e5bf8e or light purple: #948ee5
    background color: #212529 or #343a40 (diff shade)
    nav color: #111418
    text color: #f2f2f2 white variant
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #212529;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 1.25em;
}

#bg-container {
  background-image: url(/img/background-stars.svg);
}

a {
  color: #8eb4e5;
  text-decoration: none;
}

a:visited {
  color: #948ee5;
  font-weight: normal;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.page-header {
  overflow: hidden;
  background-color: #111418;
  position: relative;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-bar__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.nav-bar__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.main-nav {
  max-width: 1200px;
}

.main-nav a:hover {
  color: #8eb4e5;
  text-decoration: none;
}

.nav-logo {
  float: left;
  width: 200px;
  height: auto;
}

.nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 18px;
}

.nav-list li {
  display: inline-block;
  margin-left: 15px;
}

.nav-list__item--active {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 0 10px;
  text-decoration: none;
  width: 100%;
}

.nav-list__item {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 0 10px;
  text-decoration: none;
  width: 100%;
}

.nav-list__item:visited {
  color: #f2f2f2;
}

.nav-list__item--active {
  color: #8eb4e5;
}

.nav-list__item--active:visited {
  color: #8eb4e5;
}

.nav-list__item--active {
  font-size: 1.1em;
  font-weight: bold;
}

#mylinks,
.mylinks__item {
  display: none;
}

.icon {
  position: absolute;
  right: 10px;
  top: 25px;
  display: none;
}

.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.constellation {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.home-text h1 {
  text-align: left;
}

.home-text {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  color: #f2f2f2;
}

.home-text span {
  color: #8eb4e5;
}

.ref {
  position: absolute;
  color: lightgray;
  font-size: 0.8em;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: #343a40;
  padding: 10px 5px;
}

section {
  max-width: 900px;
  margin: 20px auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

.contact {
  max-width: 400px;
  margin: 20px auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.message-form {
  max-width: 400px;
  margin: auto;
}

.message-form label {
  display: block;
  margin-bottom: 8px;
}

.message-form input,
.message-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
}

.message-form input[type="submit"] {
  background-color: #8eb4e5;
  color: #000;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  font-family: inherit;
}

.message-form input[type="submit"]:hover {
  background-color: #e5bf8e;
  font-weight: bold;
}

.message-form input[type="submit"]:focus {
  background-color: #948ee5;
  font-weight: bold;
}

.contact-info {
  text-align: center;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
    margin: 10px;
  }

  .grid__item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  .main-nav {
    display: none;
  }

  .icon {
    display: inline-block;
  }

  .nav-bar {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }

  .mylinks__item {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    background-color: #212529;
  }

  .mylinks__item:active {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    background-color: #212529;
  }

  .mylinks__item:visited {
    color: #f2f2f2;
  }

  .mylinks__item--active {
    color: #8eb4e5;
  }

  .mylinks__item--active:visited {
    color: #8eb4e5;
  }

  .mylinks__item:hover {
    text-decoration: none;
    color: #8eb4e5;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  text-align: left;
}

.about-button {
  text-align: center;
  margin-top: 20px;
}

.about p {
  text-indent: 5%;
}

a.button {
  text-decoration: none;
}

.button {
  max-width: 300px;
  margin: 10px auto;
  border: none;
  display: inline-block;
  margin-bottom: 0px;
  padding: 10px 20px;
  background-color: #8eb4e5;
  color: #000;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-family: inherit;
  border-bottom: 2px solid rgba (0, 0, 0, 0.3);
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

button {
  max-width: 300px;
  margin: 10px auto;
  border: none;
  display: inline-block;
  margin-bottom: 0px;
  padding: 10px 20px;
  background-color: #8eb4e5;
  color: #000;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-family: inherit;
  border-bottom: 2px solid rgba (0, 0, 0, 0.3);
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.button {
  width: 100%;
}

.button:hover,
button:focus {
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #e5bf8e;
}

.button:focus {
  background-color: #948ee5;
}

.button:visited {
  color: #212529;
}

@-webkit-keyframes color-change {
  from {
    fill: #d3bc5f;
  }

  to {
    fill: #212529;
  }
}

@keyframes color-change {
  from {
    fill: #d3bc5f;
  }

  to {
    fill: #212529;
  }
}

.star {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: color-change;
  animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes color-change {
  from {
    stroke: #fff;
  }

  to {
    stroke: #212529;
  }
}

.line {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: color-change;
  animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
